/logs/
.DS_Store
build
.git
*.egg-info
dist
.vscode
output

data/samples
backup
weights/*.weights
__pycache__

checkpoints
change_padding
crop
crop_finetuning
retraining_nocrop

data/json_origin/*.json
data/data_preparation/*.txt
tiny_checkpoints