/logs/
.DS_Store
build
.git
*.egg-info
dist
.vscode
output
output_withbox_dpi200
output_withbox_dpi400
output_withbox_dpi600

data/samples
backup
weights/*.weights
__pycache__

checkpoints
change_padding
crop
crop_finetuning
retraining_nocrop

data/json_origin/*.json
data/data_preparation/*.txt
tiny_checkpoints